.total{
  text-align: center;
  margin-top: 20px;
}
.block{
  display: flex;
  flex-wrap: wrap;
}
.occupy{
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  padding: 30px;
  background: #ec1a10db;
  box-shadow: -4px -2px 9px 0px;
}
.release{
  margin: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: fit-content;
  border: 1px solid black;
  border-radius: 3px;
  padding: 30px;
  background: #25a025;
  box-shadow: -4px -2px 9px 0px;
}
.MuiSvgIcon-root{
  font-size: large;
  color: white;
} 
.slotNumber{
  color: white;
  font-weight: bold;
}
button{
  background: white;
    border: none;
    border-radius: 2px;
    padding: 3px;
}